.dashboard-container {
  height: 100vh;

  width: 1080px;
  max-width: 90vw;
  margin: 0 auto;
  padding-top: 20px;
}

.folder {
  width: 240px;
  height: 240px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  /* background-size: contain; */
  background-size: 100% auto !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.folder-container {
  margin-right: 16px;
  transition: background-color 0.5s ease;
  /* padding: 8px;
  margin: 8px; */
  margin-bottom: 20px;
}

.folder-container:hover {
  background-color: aliceblue;
  border-radius: 8px;
  cursor: pointer;
}
.showcase {
}

.folder-section {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
.folder-name {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.dashboard-title {
  font-size: 24px;
}

.dashboard-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
@media only screen and (max-width: 1080px) {
  .folder {
    width: 200px;
    height: 200px;
  }
}
