.dashboard-container {
  height: 100vh;

  width: 1080px;
  max-width: 90vw;
  margin: 0 auto;
  padding-top: 20px;
}

.folder {
  width: 240px;
  height: 240px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-size: 100% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  /* background-size: cover !important; */
  transition: background-size 0.3s ease-in-out;
  -moz-transition: background-size 0.3s ease-in-out;
  -ms-transition: background-size 0.3s ease-in-out;
  -o-transition: background-size 0.3s ease-in-out;
  -webkit-transition: background-size 0.3s ease-in-out;
}
.dashboard-nav-left {
  display: flex;
}
.dashboard-logo {
  object-fit: contain;
  height: 80px;
  width: 80px;
  margin-right: 36px;
}
.folder:hover {
  background-size: 110% !important;
}
.folder-container {
  /* margin-right: 16px; */
  transition: background-color 0.5s ease;
  padding: 8px;
  margin: 4px;
  margin-bottom: 20px;
}

.folder-container:hover {
  background-color: aliceblue;
  border-radius: 8px;
  cursor: pointer;
}
.showcase {
}

.folder-section {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  width: 100%;
}
.folder-name {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.dashboard-title {
  font-size: 24px;
  margin-top: 22px;
}

.dashboard-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

@media only screen and (max-width: 1080px) {
  .folder {
    width: 25vw;
    height: 25vw;
  }

  .folder-name {
    font-size: 14px;
  }
  .folder-container {
    padding: 1vw;
  }
}
@media only screen and (max-width: 720px) {
  .folder {
    width: 40vw;
    height: 40vw;
  }
}
.action-icons {
  display: flex;
}

.toast-hide {
  position: fixed;
  bottom: -40px;
  width: 90vw;
  max-width: 1080px;
  color: white;
  padding: 8px 16px;
  transition: all 0.5s ease;
  border-radius: 16px;
}
.toast-show {
  bottom: 12px;
}

.prompt-container {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.prompt-box {
  /* -webkit-animation: fade-in-bottom 0.1s ease both;
  animation: fade-in-bottom 0.3s ease both; */
  justify-content: center;
  width: 500px;
  max-width: 90vw;
  /* height: 200px; */
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.prompt-title {
  font-size: 24px;

  padding-bottom: 16px;
}
* {
  font-weight: lighter;
}
.prompt-desc {
  padding-bottom: 16px;
}
@media only screen and (max-width: 1080px) {
  .delete-btn-section {
    justify-content: flex-end;
  }
}
.delete-btn-section {
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.delete-btn {
  background-color: rgb(63, 107, 252);
  border: none;
  padding: 10px;
  color: white;
  border-radius: 4px;
  margin-right: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.delete-btn:hover {
  background-color: rgb(84, 123, 250);
}

.cancel-btn {
  /* background-color: rgb(156, 156, 156); */
  border: none;
  padding: 10px;
  color: black;
  background-color: white;
  text-decoration: underline;
  border-radius: 4px;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.05); */
}

.drop-down {
  width: 200px;
  /* height: 250px; */
  padding: 24px 0;
  background-color: white;
  position: fixed;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.drop-down > div {
  display: flex;
  padding: 6px 16px;
  /* align-items: center; */
  /* justify-content: center; */
}
.drop-down > div:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.folder-container-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
}
.folder-row {
  height: 50px;
  width: 50px;
  margin-right: 12px;
}
.folder-name-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 0;
  align-items: center;
}
.btn-1 {
  font-weight: 700;
  padding: 12px 24px;
  width: auto;
  font-size: 14px;
  display: block;
  /* box-shadow: 0 2px 6px 0 #b5bbc5; */
  border-radius: 12px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

.btn-1:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
