@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}

html,
body {
  /* overscroll-behavior-y: contain; */
  /* margin: 0; */
  /* padding: 0; */
  /* height: 100%;
  width: 100%; */
  /* position: fixed; */
  /* overflow: hidden; */
}

#root {
  /* background-image: url('https://res.cloudinary.com/yosuam19/image/upload/v1604739457/polaroid/sergio-arze-e-lPhRbK4G0-unsplash_lcliyr.jpg'); */
  /* width: 100%;
  height: 100%;
  overflow: hidden; */
  /* z-index: -101; */
  height: 100vh;
}
.bg {
  width: 100%;
  height: 100%;
  transition: background-color 0.5s ease;
}

.deck {
  position: fixed;
}
.cardWrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.card {
  background-color: white;
  /* background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; */
  width: 70vh;
  max-width: 300px;
  height: 85vh;
  max-height: 570px;
  will-change: transform;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: -10px 12.5px 10px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
}
.card-blur {
  filter: blur(2px);
}
.cardImg {
  width: 85%;
  height: 70%;
  margin: 0 auto;
  margin-top: 10%;
  background-position: center center;
  border-radius: 2px;
}

.information-container {
  position: fixed;
  margin-left: 50vw;
  margin-top: 26vh;
  max-width: 40vw;
  z-index: 100;
  height: 50vh;
}

.information-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  background: none;
  border: none;
}

.information-content {
  font-size: 16px;
  font-weight: light;
  line-height: 2;
  background: none;
  border: none;
  width: 100%;
  height: 80%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.information-content::-webkit-scrollbar {
  display: none;
}
textarea,
select,
input,
button {
  outline: none;
}

* {
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Lora', serif; */
  /* font-family: 'Playfair Display', serif; */
}

.colour-picker {
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: 20px;
  background-color: white;
  border-radius: 10px;

  width: auto !important ;
  padding-top: 14px;
  padding-left: 14px;
}

.footer-container {
  width: 1080px;
  max-width: 90vw;
  margin: 0 auto;
  padding-top: 24px;
  margin-top: 200px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.footer-cc {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}
.footer-cc > div {
  margin-right: 8px;
}

.icon-tabler-dots-vertical:hover {
  /* background-color: rgba(0, 0, 0, 0.3); */
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
}
